*.bak
*.pdf
*.suo
*.user
*.userosscache
*.sln.docstates
*.vcxproj.*
*.csproj.*
*.dbmdl
*.cache
*.pdb
*.obj
*.log
*.tlog
*.ilk
*.idb
*.ipch
*.aps
*.ncb
*.opensdf
*.sdf
*.VC.db
.venv
.vscode
__pycache__
.env
*.pyc
.DS_Store
.ipynb_checkpoints/
.vscode/
.idea/
.vs